﻿@using DemoApp.Models
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Some products:</h3>
<ul class="round">

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in ViewBag.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.GetTotalPrice().ToString("c")</td>
                    <td>
                        @using (Html.BeginForm("Add", "Basket", FormMethod.Post))
                        {
                            @Html.Hidden("productId", product.Id)
                            <button type="submit">Add to basket</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</ul>
