﻿@model DemoApp.Models.Receipt
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Your basket:</h3>
    
    @if (this.Model.ReceiptItems.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price (excl. taxes)</th>
                    <th>Taxes</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in this.Model.ReceiptItems)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.NetPrice.ToString("c")</td>
                        <td>@item.Taxes.ToString("c")</td>
                        <td>@item.TotalPrice.ToString("c")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th>@this.Model.SalesTaxes.ToString("c")</th>
                    <th>@this.Model.TotalPrice.ToString("c")</th>
                </tr>
            </tfoot>
        </table>
        <p>
            @using (Html.BeginForm("Empty", "Basket", FormMethod.Post))
            {
                <button type="submit">Empty basket</button>
            }
        </p>
    }
    else
    {
        <p>Your basket is empty.</p>
    }
